body{
    background-color: rgb(17, 82, 53);
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(17, 82, 53);
}

#input{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    font-size: 20px;
    transition: all 0.5s;
}

#input:focus {
    box-shadow: 0 0 60px 5px rgb(0, 40, 0);
}

.divConBotones {
    width: 100%;
    display: none;
    justify-content: center;
}

#boton{
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(221, 255, 231);
    margin: 30px;
    transition: all 0.5s;
}

#boton:hover{
    background-color: rgb(23, 145, 59);
    box-shadow: 0 0 40px 5px rgb(176, 207, 185);
    font-size: 18px;
}

.carta{
    background: white;
    min-width: 200px;
    height: 16rem;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 80px;
    font-family: 'Cardo', serif;
    transition: all 0.5s;
    box-shadow: 20px 20px 15px 5px black;
    text-shadow: 0 0 5px lightgray;
}

.carta.pica::before, .carta.pica::after{
    content: "♠";
}

.carta.trebol::before, .carta.trebol::after{
    content: "♣";
}

.carta.diamante::before, .carta.diamante::after{
    content: "♦";
}

.carta.corazon::before, .carta.corazon::after{
    content: "♥";
}

.carta.corazon,.carta.diamante{
    color: rgb(255, 0, 0);
}

.carta::before, .carta::after{
    position: absolute;
    font-size: 80px;
}

.carta::before{
    top: -10px;
    left: 15px;
}

.carta::after{
    bottom: -10px;
    right: 15px;
    transform: rotate(180deg);
}

.diamante:hover, .corazon:hover, .focusRojo{
    box-shadow: 0 0 30px rgb(255, 0, 0);
    transform: translateY(-15px);
}

.trebol:hover, .pica:hover, .focusNegro{
    box-shadow: 0 0 30px 10px rgb(0, 0, 0);
    transform: translateY(-15px);
}